.my-img {
  width: 70%;
  border-style: double;
  border-color: green;
  border-width: 10px;
  border-radius: 50%;
}

.my-gnome-btn {
  height: 4em;
  width: auto;
}

.my-bg {
  background-image: url(https://i.pinimg.com/originals/06/d9/e2/06d9e2d6b2c26a9af5b98a0aa7048f1c.jpg);
  min-height: 100vh;
  height: 100%;
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;

}


main {
  height: 80%;
}

body{
  height: 100vh;
}

header {
  height: 20%;
}