.my-img {
  width: 70%;
  border-style: double;
  border-color: green;
  border-width: 10px;
  border-radius: 50%;

}

.my-gnome-btn {
  height: 4em;
  width: auto;
}

.my-bg {
  background-image: url(mybgimg.jpg);
  min-height: 100vh;
  height: 100%;
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;

}


main {
  height: 80%;
}

body{
  height: 100vh;
}

header {
  height: 20%;
}